@model List<MiVehiculo.BL.Vehiculo>
@{
    ViewBag.Title = "Vehiculos";
}

<h2>Tabla de Vehiculos</h2>

<table class="table table-bordered table-hover">

    <thead >
        <tr>
            <th>Id</th>>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Placa</th>
            <th>Estatus</th>

        </tr>


    </thead>



    @foreach (var vehiculo in Model)
    {

    <tr>
        <td>@vehiculo.Id</td>
        <td>@vehiculo.Marca</td>
        <td>@vehiculo.Modelo</td>
        <td>@vehiculo.Placa</td>
        <td>@vehiculo.Estatus</td>
    </tr>
    }


</table>