@model MiVehiculo.BL.Vehiculo

@{
    ViewBag.Title = "Detalle Vehiculos";
}

<h2>Detalle</h2>

<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Año)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Año)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarcaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarcaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlImagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrlImagen)
           @* <img src="@Model.UrlImagen" alt="@Model.Marca.Descripcion" style="width:200px; height:auto;" />*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.Id }) |
    @Html.ActionLink("Regresar a la Lista", "Index")
</p>
